<?xml version="1.0"?>

<launch>
    <!-- 启动roscore -->
    <master auto="start"/>

    <!-- TF setting 坐标变换-->

    <!-- SENSOR DEVICE -->
    <!-- second startup ls01g lidar激光雷达 -->
    <!-- startup IMU -->
    <!-- startup Car base-->
	
    <!-- load ODOMETRY -->

    <!-- load Map  -->

    <!-- Navstack -->

</launch>