<?xml version="1.0"?>

<launch>
    <!-- 启动roscore -->
    <master auto="start"/>

    <!-- TF setting 坐标变换-->
    <include file="$(find art_racecar)/launch/includes/art_car_tf.launch.xml" />

    <!-- SENSOR DEVICE -->
    <!-- second startup ls01g lidar激光雷达 -->
    <include file="$(find art_racecar)/launch/ls01g_lidar.launch"/>
    <!-- IMU 陀螺仪-->
    <include file="$(find art_imu)/launch/imu.launch" />
    <!-- Car 底盘驱动-->
    <node pkg="art_driver" type="art_driver_node" name="art_driver_node"/>
    <!-- 电机反馈速度-->
    <!--<include file="$(find ecoder)/launch/ecoder.launch"/>-->

	
      <!-- Rviz -->
    <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find art_racecar)/launch/rviz/gmapping.rviz" if="$(arg use_rviz)"/-->

        <arg name="use_rviz" default="false" />

    <!-- for amcl 初始坐标-->    
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find art_racecar)/map/mymap.yaml"/>

   

    <!-- ODOMETRY -->
    <!--rf2o_Laser_Odometry 激光雷达信息估计小车运动状态  激光里程记  -->
    <include file="$(find art_racecar)/launch/includes/rf2o.launch.xml" />
    <!-- Robot_Localization 使用imu和激光雷达的数据共同完成定位-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find art_racecar)/param/ekf_params.yaml" />
    </node>

    <!--<node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
        <rosparam command="load" file="$(find art_racecar)/param/ukf_params.yaml" />
    </node>-->

    <!-- Localization -->
    <!-- AMCL 概率定位-->
    <include file="$(find art_racecar)/launch/includes/amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

    <!-- Navstack 导航堆栈-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >
        <!--  planner -->
        <param name="base_global_planner" value="navfn/NavfnROS"/>  
        <param name="base_local_planner" value="rsband_local_planner/RSBandPlannerROS"/>  
        <!-- costmap layers -->    
        <rosparam file="$(find art_racecar)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find art_racecar)/param/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find art_racecar)/param/global_costmap_params.yaml" command="load"/> 
        <!-- move_base params -->
        <rosparam file="$(find art_racecar)/param/base_global_planner_params.yaml" command="load"/>
        <rosparam file="$(find art_racecar)/param/move_base_params.yaml" command="load"/>
        <remap from="/odom" to="/odometry/filtered"/>
        
       
    </node>


    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find art_racecar)/rviz/amcl.rviz" if="$(arg use_rviz)" />


</launch>